<!DOCTYPE html>
<html>
<head>
  <title>Saidbury financial report</title>
  <link rel="StyleSheet" href ="css\account_verification.css">
  <script type ="text/javascript" src="js\page_rediorectory.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>
<img src="images\saidburyV2.png" alt="Saidbury logo" style="display:block;margin-left: auto;margin-right: auto;width: 40%;">
<button type="button" id="back">Back</button>

<script src="/javascript/redirectingPage.js"></script>
</body>
</html>