<!DOCTYPE html>
<html>
<head>
  <title>Saidbury Mainhub</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<img src="images\saidburyV2.png" alt="Saidbury logo" id ="Saidbury_logo">
<div class="middle">
 
  <button type="button" id="storage">Storage</button>
  <button type="button" id="warehouse">Warehouse resupply request</button>
  <button type="button" id="financial">financial report</button>
</div>
<script src="/javascript/redirectingPage.js"></script>

</body>
</html>