.center{
    margin-left: 40%;
    margin-right: 40%;
    size : "50"   
}
#Saidbury_logo{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#attempts_warning{
    margin-left: 40%;
    margin-right: 40%;
    color:red;
}
.middle{
    margin-left: 40%;
    margin-right: 40%;
}